
# Introduction to Python

Python is a high-level, interpreted programming language known for its ease of learning and efficiency. This section will cover a brief overview of Python and the basics of setting up your Python environment.

Python's simple syntax and dynamic typing make it an ideal language for scripting and rapid application development. Python supports modules and packages, encouraging program modularity and code reuse.

### Setting Up Python Environment with Anaconda
To start working with Python, you need to have Python installed on your computer.

1. **Download and Install Anaconda:** Download from the [Anaconda website](https://www.anaconda.com/products/individual) and install it. Ensure to add Anaconda to your PATH environment variable or set it as your default Python.

2. **Verify Installation:** Open your command line and type `conda list` to see a list of installed packages.

3. **Launch Jupyter Notebook:** Type `jupyter notebook` in your command line or launch from your `Windows Start up`


This setup is ideal for managing Python packages and environments, particularly for data science projects.

#### Shortcut 
A - for new cell above

B - for new cell below

X - cut a cell

Z - undo

Shift + Enter

# Python Basics

In Python, you don't need to declare the type of variable explicitly. The variable type is determined based on the value assigned to it.

### Variables
```python
# Example of variable assignment
a = 10      # Integer
b = 3.14    # Float
c = "Python" # String
```

In [2]:
name = "Suleman"

In [7]:
age = 56

In [46]:
print(name)

Suleman

In [9]:
age

56

In [10]:
cash = 45.8

In [11]:
cash

45.8

In [15]:
True

True

In [13]:
False

False

In [18]:
cash_at_hand = 40000

In [48]:
type(age)

int

In [49]:
type(name)

str

In [50]:
type(cash)

float

### Data Types
- **Integers:** Whole numbers without a fractional part.
- **Floats:** Numbers that contain a decimal point.
- **Strings:** Sequence of characters.
- **Booleans:** True or False values.

### Basic Operations
Python supports various arithmetic, comparison, and logical operations.

#### Arithmetic Operations
```python
# Examples of Arithmetic Operations
x = 10
y = 3
print(x + y)  # Addition
print(x - y)  # Subtraction
print(x * y)  # Multiplication
print(x / y)  # Division
print(x % y)  # Modulus
```

In [1]:
#PEDMAS

In [2]:
(3*5) + 4/2**3

15.5

In [5]:
# (15) + 4/8

# 15 + 4/8

# 15 + 0.5

In [21]:
age2 = 40

In [22]:
age + age2

96

In [31]:
expenses = 20000

In [32]:
new_cash_at_hand = cash_at_hand - expenses

In [33]:
new_cash_at_hand

20000

In [34]:
cash_at_hand = cash_at_hand - expenses

In [35]:
cash_at_hand

20000

In [40]:
cash_at_hand / 5

#casting

4000.0

In [41]:
num1 = 15
num2 = 3

In [45]:
9 % 2

1

In [44]:
2 ** 5

32

In [7]:
# Floor division: you use double division sign //
100 // 7

14

In [9]:
100 % 7

2

In [10]:
# 14 * 7

In [4]:
#COMMENTS


# Strings in Python

Strings in Python are created by enclosing characters in either single quotes or double quotes. Python treats single quotes and double quotes the same.

### String Manipulation
- **Concatenation:** Combining strings together.
- **Slicing:** Extracting a part of a string.
- **Common Methods:** `upper()`, `lower()`, `strip()`, `replace()`, `split()`.

#### Examples
```python
str1 = "Hello"
str2 = "World"
# Concatenation
print(str1 + " " + str2)  # Output: Hello World

# Slicing
print(str1[1:4])  # Output: ell

# Using String Methods
print(str1.lower())  # Output: hello
print(str2.upper())  # Output: WORLD
```

In [51]:
firstname = 'Kelechi'
lastname =  'Isiolu'

In [56]:
#concatenation

fullname = firstname + ' ' + lastname

In [57]:
fullname

'Kelechi Isiolu'

In [59]:
fullname.upper()

'KELECHI ISIOLU'

In [60]:
fullname.lower()

'kelechi isiolu'

In [63]:
# Python is case sensitive

In [66]:
fullname

'Kelechi Isiolu'

In [67]:
fullname.replace('isiolu', 'Josiah')

'Kelechi Isiolu'

In [69]:
newname = fullname.replace('Isiolu', 'Josiah')

In [70]:
newname

'Kelechi Josiah'

In [68]:
fullname.split(' ')

['Kelechi', 'Isiolu']


# Data Structures in Python

Python provides various built-in data structures that are efficient and easy to use.

### Lists
Lists are mutable sequences, typically used to store collections of homogeneous items.
```python
my_list = [1, 2, 3, 'Python', 3.14]
print(my_list[3])  # Accessing element
my_list.append(10) # Adding element
```

In [ ]:
index 0 - n-1

In [20]:
name = ['Kelechi', 'Peter', 'John', 'Jacob', 'Alexander', 'Salami', 'David', 'Dayo', 'Jacob']

In [21]:
name

['Kelechi',
 'Peter',
 'John',
 'Jacob',
 'Alexander',
 'Salami',
 'David',
 'Dayo',
 'Jacob']

In [22]:
name[0]

'Kelechi'

In [23]:
name[4]

'Alexander'

In [24]:
name[-1]

'Jacob'

In [25]:
name.append('Olamilekan')

In [27]:
name.index('Jacob')

3

In [81]:
name

['Kelechi',
 'Peter',
 'John',
 'Jacob',
 'Alexander',
 'Salami',
 'David',
 'Dayo',
 'Olamilekan']

In [83]:
name[4] = 'Halimat'

In [84]:
name

['Kelechi',
 'Peter',
 'John',
 'Jacob',
 'Halimat',
 'Salami',
 'David',
 'Dayo',
 'Olamilekan']

In [ ]:
# A list is mutable

In [87]:
type(name)

list

### Tuples
Tuples are immutable sequences, used to store multiple items in a single variable.
```python
my_tuple = (1, 2, 3)
print(my_tuple[1])  # Accessing element
```

In [85]:
week_day = ('Mon', 'Tue', 'Wed', 'Thur', 'Fri')

In [86]:
week_day

('Mon', 'Tue', 'Wed', 'Thur', 'Fri')

In [88]:
type(week_day)

tuple

In [91]:
week_day[0]

'Mon'

In [90]:
week_day[-1]

'Fri'

In [92]:
# Exdday

In [93]:
week_day[2]

'Wed'

In [95]:
week_day[2] = 'Exd'

#Tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [100]:
editable_week = list(week_day)

# creating a tuple to a list

In [101]:
editable_week

['Mon', 'Tue', 'Wed', 'Thur', 'Fri']

In [102]:
week_day

('Mon', 'Tue', 'Wed', 'Thur', 'Fri')

In [ ]:
# [] list and index
# () tuple and method or parameters

In [12]:
a = 'Olamilekan'

In [13]:
a[3]

'm'

In [104]:
a = 1

### Sets
Sets are unordered collections of unique elements.
```python
my_set = {1, 2, 3, 3, 2}
print(my_set)       # Output: {1, 2, 3}
```

In [29]:
name.append('Peter')

In [30]:
name

['Kelechi',
 'Peter',
 'John',
 'Jacob',
 'Alexander',
 'Salami',
 'David',
 'Dayo',
 'Jacob',
 'Olamilekan',
 'Peter']

In [31]:
type(name)

list

In [32]:
#creating a set from a list
set(name)

{'Alexander',
 'David',
 'Dayo',
 'Jacob',
 'John',
 'Kelechi',
 'Olamilekan',
 'Peter',
 'Salami'}

In [39]:
set_name = {'Kelechi', 'Peter', 'John', 'Jacob','Alexander', 'Jacob',
             'Salami', 'David', 'Dayo', 'Jacob', 'Olamilekan', 'Peter'}

In [40]:
set_name

{'Alexander',
 'David',
 'Dayo',
 'Jacob',
 'John',
 'Kelechi',
 'Olamilekan',
 'Peter',
 'Salami'}

In [43]:
set_name.add('Lekan')

In [44]:
set_name

{'Alexander',
 'David',
 'Dayo',
 'Jacob',
 'John',
 'Kelechi',
 'Lekan',
 'Olamilekan',
 'Peter',
 'Salami'}

In [46]:
#a set is a collection of keys

### Dictionaries
Dictionaries are used to store data values in key:value pairs.
```python
my_dict = {'name': 'Alice', 'age': 25}
print(my_dict['name'])  # Accessing value
my_dict['age'] = 26     # Changing value
```

In [57]:
user_info = {'id':1, 'name': 'Halimat', 'age': 40, 'gender': 'Female', 'height': 7, 'favorites': ['movies', 'reading']}

In [ ]:
# key1:value, key2:value,

In [48]:
#dic is not accessed by index but key
user_info[2]

KeyError: 2

In [49]:
user_info['id']

1

In [50]:
user_info['name']

'Halimat'

In [51]:
user_info['age']

40

In [52]:
user_info['favorites']

['movies', 'reading']

In [53]:
user_fav = user_info['favorites']

In [55]:
user_fav[0]

'movies'

In [56]:
user_info['favorites'][0]

'movies'

In [ ]:
# JSON

In [58]:
# A NESTED DICTIONARY~

In [67]:
#remeber keys are unique
user_info = {'id':1, 'name': 'Halimat', 'age': 40, 'gender': 'Female', 'height': 7.5, 'favorites': ['movies', 'reading'],
            'work_details': {'employer_name':'[AI]', 'address':'Remotely'}}

In [68]:
user_info

{'id': 50,
 'name': 'Halimat',
 'age': 40,
 'gender': 'Female',
 'height': 7.5,
 'favorites': ['movies', 'reading'],
 'work_details': {'employer_name': '[AI]', 'address': 'Remotely'}}

In [61]:
type(user_info)

dict

In [62]:
user_info['work_details']

{'employer_name': '[AI]', 'address': 'Remotely'}

In [63]:
user_info['work_details']['address']

'Remotely'

In [64]:
# all the keys
user_info.keys()

dict_keys(['id', 'name', 'age', 'gender', 'height', 'favorites', 'work_details'])

In [69]:
# all the values
user_info.values()

dict_values([50, 'Halimat', 40, 'Female', 7.5, ['movies', 'reading'], {'employer_name': '[AI]', 'address': 'Remotely'}])

In [79]:
# Nesting example
users_info = {'user1': {'id':1, 'name': 'Halimat', 'age': 40, 'gender': 'Female', 'height': 7.5, 'favorites': ['movies', 'reading'],
            'work_details': {'employer_name':'[AI]', 'address':'Remotely'}},
            
            'user2':{'id':2, 'name': 'Aliu', 'age': 50, 'gender': 'Male', 'height': 7.95, 'favorites': ['movies', 'reading'],
            'work_details': {'employer_name':'[AI]', 'address':'Physical'}}
            }

In [80]:
users_info['user2']

{'id': 2,
 'name': 'Aliu',
 'age': 50,
 'gender': 'Male',
 'height': 7.95,
 'favorites': ['movies', 'reading'],
 'work_details': {'employer_name': '[AI]', 'address': 'Physical'}}


# Control Structures in Python

Understand how to control the flow of your Python programs using conditional statements and loops.

### Conditional Statements

```python
x = 10
if x > 5:
    print('Greater than 5')
elif x == 5:
    print('Equal to 5')
else:
    print('Less than 5')
```

In [ ]:
#Python uses indentation to define blocks

In [81]:
#Logical operators
# == equal to
# > greater than
# >= greater than or equal to
# < less than
# <= less than or equal to
# != not equal to

In [ ]:
# = assignment
# == comparision

In [ ]:
# if condition:
#     code to run
    
# elif condition:
#     code to run
    
# else:
#     whatever be the case

In [82]:
present = 'Yes'

if present == 'Yes':
    print('Peter was present in the class today')

Peter was present in the class today

In [93]:
present = 'no'

if present == 'yes':
    print('Peter was present in the class today')

In [92]:
present = 'YES'

if present.lower() == 'yes':
    print('Peter was present in the class today')

Peter was present in the class today

In [94]:
present = 'pg'

if present == 'yes':
    print('Peter was present in the class today')
    
elif present == 'pg':
    print('Peter took permission')

Peter took permission

In [96]:
# elif is an abbreviation of else if

In [97]:
present = 'no'

if present == 'yes':
    print('Peter was present in the class today')
    
elif present == 'pg':
    print('Peter took permission')
    
elif present == 'no':
    print('Obviously, Peter wasnt in class')
    
else:
    print('I dont know the whereabout of Peter')

Obviously, Peter wasnt in class

In [99]:
present = 345

if present == 'yes':
    print('Peter was present in the class today')
    
elif present == 'pg':
    print('Peter took permission')
    
elif present == 'no':
    print('Obviously, Peter wasnt in class')
    
else:
    print('I dont know the whereabout of Peter')

I dont know the whereabout of Peter

In [84]:
present == 'Yes'

False

In [89]:
56 < 56

False

In [90]:
56 <= 56

True


### Loops

Loops are used to execute a block of code repeatedly.

#### For Loop
```python
for i in range(5):
    print(i)
```

In [101]:
list(range(5))

[0, 1, 2, 3, 4]

In [104]:
for i in range(5):
    print(i)
    
    print(i * 50)

0
0
1
50
2
100
3
150
4
200

In [105]:
name

['Kelechi',
 'Peter',
 'John',
 'Jacob',
 'Alexander',
 'Salami',
 'David',
 'Dayo',
 'Jacob',
 'Olamilekan',
 'Peter']

In [107]:
for student in name:
    print(student.upper(), 'was present in class today')

KELECHI was present in class today
PETER was present in class today
JOHN was present in class today
JACOB was present in class today
ALEXANDER was present in class today
SALAMI was present in class today
DAVID was present in class today
DAYO was present in class today
JACOB was present in class today
OLAMILEKAN was present in class today
PETER was present in class today

#### While Loop
```python
count = 0
while count < 5:
    print(count)
    count += 1
```

In [112]:
number_students = 10

while number_students > 0:
    print('There is still a student in class')
#     number_students = number_students - 1
    number_students -= 1

There is still a student in class
There is still a student in class
There is still a student in class
There is still a student in class
There is still a student in class
There is still a student in class
There is still a student in class
There is still a student in class
There is still a student in class
There is still a student in class

In [6]:
number = 67

if number > 0:
    print('The number is positive')
    
elif number == 0:
    print('The number is zero')
    
else:
    print('The number is Negative')

The number is positive

In [12]:
numbers = [1, -1, 10, 30, 0, 50, -3]

for number in  numbers:
    if number > 0:
        print('The number {} is positive'.format(number))

    elif number == 0:
        print('The number {} is zero'.format(number))

    else:
        print('The number {} is Negative'.format(number))

The number 1 is positive
The number -1 is Negative
The number 10 is positive
The number 30 is positive
The number 0 is zero
The number 50 is positive
The number -3 is Negative

In [23]:
#this is a function
def number_checker(num):
    if num > 0:
        print('The number {} is be positive'.format(num))

    elif num == 0:
        print('The number {} is be zero'.format(num))

    else:
        print('The number {} is Negative'.format(num))

In [21]:
number_checker(0)

The number 0 is be zero

In [22]:
number_checker(90)

The number 90 is be positive

In [24]:
numbers = [1, -1, 10, 30, 0, 50, -3]

for number in  numbers:
    number_checker(number)

The number 1 is be positive
The number -1 is Negative
The number 10 is be positive
The number 30 is be positive
The number 0 is be zero
The number 50 is be positive
The number -3 is Negative

In [8]:
cars = ['Camry', 'Lexus', 'Benz', 'Hilux', 'Honda']

for car in cars:
    print('The car name is', car)

The car name is Camry
The car name is Lexus
The car name is Benz
The car name is Hilux
The car name is Honda

In [25]:
tup = (1, 'name', 80, [1,3,5])

In [26]:
tup

(1, 'name', 80, [1, 3, 5])

In [28]:
cars = {'Camry', 'Lexus', 'Benz', 'Hilux', 'Honda', 'Camry', 'Benz'}

for car in cars:
    print('The car name is', car)

The car name is Camry
The car name is Benz
The car name is Lexus
The car name is Hilux
The car name is Honda

In [31]:
info = {'name':'Olamilekan', 'gender': 'Male'}

print(info['gender'])

Male

### Exercises
1. Write a Python program to check if a number is positive, negative or zero.
2. Create a list of five elements and use a 'for' loop to print each element.
3. Write a Python program to create a tuple with different data types.
4. Make a set with five numbers and use a 'for' loop to display the set elements.
5. Create a dictionary with two keys and values, then print one of the values.

#### Scenario: 
- You have a Python program that stores the names and scores of players in a game. Initially, you used two separate lists to store this information. How could you refactor this program to use a more appropriate data structure for easier access and manipulation of this data?

- You need to store a sequence of email addresses entered by users on a website form. The order in which the email addresses are entered should be preserved.


- An online store requires a way to keep track of each product's name and its corresponding price.

- In an application, you want to ensure that all usernames are unique and you frequently check if a username has already been taken.


- You're developing a mapping application and need to store the latitude and longitude of various points of interest. Once set, these coordinates should not be altered.


- A library system needs to store information about each book, such as the title, author, ISBN, and publication year.


- For a classroom management system, you need to store a list of students along with each student's list of grades over the semester.


- You are analyzing email data and need to keep a collection of unique email domains (the part after "@") encountered in a dataset.

- An airport management system needs to store direct flight routes between cities, ensuring quick checks for the existence of a route and easy updates as new routes are added.

- In a coding challenge platform, you need to track the progress of participants. For each participant, you want to store their username, the total number of challenges they've attempted, the number of challenges they've completed, and their overall score.

##### Scenario 1

Dictionary

In [ ]:
player = {'Tunde':[3, 1, 90], 'John':[2, 4, 89]}

In [32]:
game = {'player_name':['Lekan', 'Tunde', 'Jacob', 'SQ'], 'scores':[80, 79, 90, 100]}

In [33]:
email = ['.gmail.com', 'yahoo.com']

In [37]:
products = {'name':['bread', 'rice', 'garri', 'butter'], 'price':[800, 709, 9000, 10000]}

#enumerate

In [36]:
products = {'bread':800, 'rice':709, 'garri':80, 'butter':1000}

In [ ]:
location = ((10.8, 90.4), (14.7, 809.8))

In [1]:
Google colab
Markdown

SyntaxError: invalid syntax (1622636963.py, line 1)